$screen-size-xl: 1920px;
$screen-size-l: 1536px;
$screen-size-m: 1280px;
$screen-size-s: 768px;
$screen-size-xs: 375px;
$transition-time: 0.3s;

$screen-max-size-s: 767px;
$screen-max-size-m: 1279px;
$screen-max-size-l: 1535px;
