@import "../../sass/utils/container";
@import "../../sass/utils/mixins";

.section {
  padding-top: 55px;
  padding-bottom: 55px;
}
.container__resend {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  @include font(18px, 2vw, 26px, 500, 32px);
}

.text {
  text-align: center;
  padding-top: 24px;
  @include font(14px, 2vw, 18px, 500, 22px);
}
.email__text {
  color: #0033ff;
  margin-left: 10px;
  white-space: nowrap;
}
.timer {
  text-align: center;
  padding: 24px 0;
  @include font(14px, 2vw, 18px, 500, 22px);
}
.form {
  flex-direction: column;
  gap: 48px;

  @include flexCenter();
  max-width: 349px;
  width: 100%;
  @include mediaQuery(768px) {
    max-width: 426px;
  }
  @include mediaQuery(1280px) {
    max-width: 580px;
  }
  @include mediaQuery(1536px) {
    max-width: 696px;
  }
  @include mediaQuery(1920px) {
    max-width: 888px;
  }
}
.form__box {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
}

.input {
  width: 48px;
  height: 48px;
  border: var(--border);
  border-radius: 12px;
  outline: none;
  background-color: transparent;
  text-align: center;
  color: var(--text-color);
  @include font(40px, 2vw, 61px, 400, 71px);

  @include mediaQuery(768px) {
    width: 56px;
    height: 56px;
  }
  @include mediaQuery(1280px) {
    width: 80px;
    height: 80px;
  }
  @include mediaQuery(1536px) {
    width: 95px;
    height: 95px;
  }
  @include mediaQuery(1920px) {
    width: 100px;
    height: 100px;
  }

  &:focus {
    border-color: #0033ff;
  }

  &.valid {
    border-color: #33cc00;
  }

  &.invalid {
    border-color: #b3261e;
    color: #b3261e;
  }
}

.invalid__code__message {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: -35px;
  color: #b3261e;
  @include font(14px, 2vw, 18px, 500, 22px);
}

.styledBtn {
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  background-color: #616161;
  color: var(--text-color);
  border-radius: 40px;
  border: none;
  outline: none;
  width: 192px;
  margin: 0 auto;
  text-transform: uppercase;
  @include font(14px, 2vw, 16px, 400, 19px);

  &.invalid {
    background-color: var(--invalid);
    @include flexCenter();
    gap: 8px;
  }

  &.valid {
    background-color: var(--btn-background);

    &:hover {
      box-shadow: 0px 0px 8px #fff;
    }
  }
}

.btn__resend {
  margin-top: 24px;
  cursor: pointer;
  background: transparent;
  border: none;
  color: var(--text-color);
  text-decoration: underline;
  text-decoration-color: var(--text-color);
  @include font(14px, 2vw, 16px, 400, 19px);
  &.disabled {
    text-decoration-color: #989898;
  }
}
.error__backend {
  color: #b3261e;
  text-align: center;
  @include font(14px, 2vw, 20px, 400, 19px);
}
.disabled {
  text-decoration-color: #989898;
  color: #989898;
}
