@import '../sass/utils/container';
@import '../sass/utils/mixins';

:root {
  --font-mono: 'Roboto' ui-monospace, Menlo, Monaco, 'Cascadia Mono',
    'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace',
    'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --background-color: #141416;
  --color: #fafafa;
  --black: #000;
  --bg-gray: #616161;

  --border-radius: 40px;
  --border-color: #228b22;
  --border: 1px solid #fafafa;
  --border-btn: 2px solid #228b22;

  --text-color: #fafafa;
  --input-text-color-hover: #228b22;

  --text-color-valid: #228b22;
  --text-color-dark: #141416;

  --btn-background: #228b22;
  --btn-bg-confirm: #d4b000;
  --btn-text-color-hover: #141416;
  --hover-background: #228b22;
  --hover-text-color: #228b22;
  --hover-bg-color: #57e957;

  --invalid: #b3261e;

  --screen-size-l: 1536px;
  --screen-size-m: 1280px;
  --screen-size-s: 768px;
  --screen-size-xs: 375px;
  --transition-time: 0.3s;

  --border-role-card: 1px solid #ffffff;
  --swiper-pagination-color: #228b22;
  --swiper-pagination-bullet-inactive-color: #ffffff;

  --swiper-pagination-bullet-width: 12px;
  --swiper-pagination-bullet-height: 12px;
  --swiper-pagination-bottom: -3px;
}

@font-face {
  font-family: 'Angry';
  src: url(../../public/fonts/Angry.otf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

.body-no-scroll {
  overflow: hidden;
}

/* Not-Found Page styles */

.content__block {
  width: 319px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;

  @include mediaQuery(767px) {
    width: 344px;
  }

  @include mediaQuery(1280px) {
    width: 392px;
  }

  @include mediaQuery(1536px) {
    width: 457px;
  }

  @include mediaQuery(1800px) {
    width: 584px;
  }
}

.img__404 {
  margin-bottom: 14px;

  @include mediaQuery(767px) {
    width: 344px;
    height: 298px;
    margin-bottom: 16px;
  }

  @include mediaQuery(1280px) {
    width: 390px;
    height: 338px;
    margin-bottom: 18px;
  }

  @include mediaQuery(1536px) {
    width: 456px;
    height: 395px;
    margin-bottom: 18px;
  }

  @include mediaQuery(1800px) {
    width: 581px;
    height: 503px;
  }
}

.title {
  color: #228b22;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @include mediaQuery(767px) {
    font-size: 18px;
  }

  @include mediaQuery(1280px) {
    font-size: 20px;
  }

  @include mediaQuery(1536px) {
    font-size: 24px;
  }

  @include mediaQuery(1800px) {
    font-size: 32px;
  }
}

.details {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 12px;
  margin-bottom: 12px;

  @include mediaQuery(1280px) {
    font-size: 18px;
  }

  @include mediaQuery(1536px) {
    font-size: 20px;
  }

  @include mediaQuery(1800px) {
    font-size: 22px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

.button {
  width: 319px;
  height: 40px;
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 40px;
  border: 0.2px solid #228b22;
  background: #228b22;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 8px;
  margin-bottom: 8px;

  @include mediaQuery(767px) {
    width: 344px;
    height: 44px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  @include mediaQuery(1280px) {
    width: 392px;
    height: 48px;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  @include mediaQuery(1536px) {
    width: 456px;
    height: 53px;
  }

  @include mediaQuery(1800px) {
    width: 584px;
    font-size: 20px;
    height: 62px;
  }
}
