@import "../../sass/utils/container";
@import "../../sass/utils/mixins";

.header {
  background: transparent;
}
.container__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--border);
  border-color: var(--border-color);
  padding: 12px 0;

  @include mediaQuery($screen-size-m) {
    padding: 16px 0;
  }
}

.text__link {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.text__link__chip {
  width: 100%;
  max-width: 300px;
  max-width: 243px;
  height: 22px;

  @include mediaQuery(1280px) {
    max-width: 380px;
    height: 40px;
  }
}
.nav {
  display: flex;
  gap: 16px;

  @include mediaQuery(1280px) {
    width: 100%;
    max-width: 336px;
  }
}

.link {
  width: 100%;
  @include flexCenter();
  padding: 10px 22px 10px 22px;
  background-color: #141416;
  border: var(--border-btn);

  border-radius: 30px;
  @include font(18px, 2vw, 18px, 400, 18px);
  @include mediaMaxQuery(1279px) {
    display: none;
    &.open {
      display: flex;
      width: 343px;
    }
  }
}
.btn__exit {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  padding: 5px 5px 0;
}
.exit__chip {
  width: 30px;
  height: 25px;
  fill: #33cc00;
}

.menu_burger {
  @include flexCenter();

  position: fixed;
  top: 63px;
  left: -100%;
  height: 100%;
  width: 100vw;
  background: var(--background-color);
  z-index: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  padding-top: 30px;
  transition: left 600ms ease;

  @include mediaQuery($screen-size-m) {
    display: none;
  }

  @include mediaQuery($screen-size-s) {
    top: 83px;
  }

  &.open {
    position: fixed;
    top: 63px;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    overflow: auto;
    background-color: var(--background-color);
    padding-top: 30px;
    transform: translateX(0);

    @include mediaQuery($screen-size-s) {
      top: 83px;
    }
    @include mediaQuery($screen-size-m) {
      display: none;
    }
  }
}

.nav_burger {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  & > li {
    padding: 10px 0;
  }
}
