@import "../../../../sass/utils/mixins";
@import "../roleSelectionLink.module.scss";

.card {
  padding: 18px;
  display: flex;
  gap: 18px;
  flex-direction: column;
  width: 100%;
  max-width: 343px;
  box-sizing: border-box;
  border: var(--border);
  border-radius: 24px;
  background: linear-gradient(
    183.73deg,
    rgb(20, 20, 22) 3.557%,
    rgb(34, 139, 34) 466.303%
  );
  @include mediaQuery($screen-size-s) {
    max-width: 346px;
    height: 496px;
    border-radius: 20px;
  }

  @include mediaQuery($screen-size-m) {
    max-width: 493px;
    height: 490px;
    padding: 24px;
    border-radius: 24px;

    &:nth-child(3) {
      margin-left: 101px;
    }

    &:nth-child(4) {
      margin-right: -101px;
    }
  }

  @include mediaQuery($screen-size-l) {
    max-width: 576px;
    gap: 12px;
    height: 491px;
    border-radius: 32px;

    &:nth-child(3) {
      margin-left: 120px;
    }

    &:nth-child(4) {
      margin-right: -120px;
    }
  }

  @include mediaQuery($screen-size-xl) {
    max-width: 736px;
    gap: 24px;
    height: 503px;
    border-radius: 40px;
    &:nth-child(3) {
      margin-left: 132px;
    }

    &:nth-child(4) {
      margin-right: -132px;
    }
  }

  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 18px;
    height: 100%;
  }

  @include mediaQuery($screen-size-s) {
    align-self: start;
    gap: 16px;

    &:nth-child(2) {
      margin-top: 57px;
    }

    &:nth-child(4) {
      margin-top: 57px;
    }
  }
  @include mediaQuery($screen-size-m) {
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      margin-top: 0;
    }
  }
  @include mediaQuery($screen-size-l) {
    gap: 20px;
  }

  .title {
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-align: center;

    @include fontSize(24px, 700, 29px);

    @include mediaQuery($screen-size-s) {
      @include fontSize(32px, 700, 39px);
    }
    @include mediaQuery($screen-size-m) {
      @include fontSize(36px, 700, 43px);
    }
    @include mediaQuery($screen-size-l) {
      @include fontSize(48px, 700, 58px);
    }
  }

  .subtitle {
    text-align: center;
    color: rgb(250, 250, 250);
    @include fontSize(12px, 500, 17px);

    @include mediaQuery($screen-size-s) {
      @include fontSize(16px, 500, 20px);
    }
    @include mediaQuery($screen-size-m) {
      @include fontSize(18px, 500, 22px);
    }
    @include mediaQuery($screen-size-l) {
      @include fontSize(20px, 500, 24px);
    }
    @include mediaQuery($screen-size-xl) {
      @include fontSize(24px, 500, 30px);
    }
  }

  .description {
    @include fontSize(14px, 400, 17px);
    margin-bottom: auto;

    @include mediaQuery($screen-size-m) {
      @include fontSize(16px, 400, 20px);
    }
    @include mediaQuery($screen-size-l) {
      @include fontSize(18px, 400, 20px);
    }
    @include mediaQuery($screen-size-xl) {
      @include fontSize(18px, 400, 24px);
    }
  }

  .link {
    display: flex;
    justify-content: center;
    gap: 12px;
    align-items: center;
    width: 100%;
    @include fontSize(12px, 600, 14px);
    @include mediaMaxQuery($screen-max-size-s) {
      padding: 9px 26px;
    }

    text-transform: uppercase;
    border: 1px solid rgb(250, 250, 250);
    border-radius: 69px;

    color: rgb(255, 255, 255);

    @include mediaQuery($screen-size-s) {
      width: 100%;
      padding: 10px 0;
      max-width: 282px;

      @include fontSize(16px, 600, 18px);
    }

    @include mediaQuery($screen-size-m) {
      @include fontSize(18px, 600, 21px);
      max-width: 328px;
    }

    @include mediaQuery($screen-size-l) {
      @include fontSize(20px, 600, 23px);
    }
    @include mediaQuery($screen-size-xl) {
      @include fontSize(24px, 600, 28px);
      max-width: 384px;
    }
    transition: all 0.3s ease-in-out;
    background: transparent;
  }

  .link:hover {
    background: rgb(34, 139, 34);
  }
}
.content__icon {
  fill: #fff;
}
